.usernamecontainer {
    display: inline;
}

.usernamecontainer .usernamecontainer_input {
    width: 250px;
    height: 50px;
    border: 10%;
    padding: 12px 20px;
    transition: 0.5s;
}

.usernamecontainer .usernamecontainer_input:focus{
    background-color: #87CEFF;
}