.form_login_container{
    background-image: url('../../assets/backgroundImage/backgroundimg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 1000px;
    scroll-behavior: smooth;
}

h1{
    color: wheat;    
}

.form_login{
    display: inline;
    
}

.form_login_username_input{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    border: 20%;
}

.form_login_password_input{
    padding-bottom: 20px;
    text-align: center;
}

.form_login_btn{
    padding-left: 560px;
    padding-bottom: 100px;
}