.logo{
  align-items: center;
  margin-bottom: 20px;
}  


  .logo .nav-item img{
    width: 50px;
  }


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #66FF99;
    border-radius: 10px;
    color: white;
  }

  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
    color: #444444;
    text-decoration: none;
  }
  
  .nav-item:hover {
    color: #FFFFCC;
  }


.nav-item img{
  width: 30px;
}